@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<html>
<head>
    
    </head>
<body style="background-color:lightblue">
<div class="text-center">
    <h3 >Welcome @User.Identity.Name to  Transport Management Application</h3>
   
</div>


</body>
</html>