@model TransportManagementSystem.Models.Allocate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Allocate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AllocateId" />
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId"></select>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleNumber" class="control-label"></label>
                <select asp-for="VehicleNumber" class="form-control" asp-items="ViewBag.VehicleNumber"></select>
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteNumber" class="control-label"></label>
                <select asp-for="RouteNumber" class="form-control" asp-items="ViewBag.RouteNumber"></select>
                <span asp-validation-for="RouteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

